<%= stylesheet_link_tag "application" %>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">

<p style="color: green"><%= notice %></p>

<%= render @note %>

<div>
  <%= link_to "Back to Notes", check_notes_path(@note.check), class: "create-person", style: "padding-bottom: 10px;" %>

  <%= button_to "Delete this Note", check_note_path(@note.check, @note), method: :delete, class: "create-person"%>
</div>
