<%= stylesheet_link_tag "application" %>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">

<p style="color: green"><%= notice %></p>

<%= render @note %>

<div>
  <%= link_to "Back to notes", check_notes_path(@note.check), class: "create-person", style: "margin-right: 20px;" %>

  <%= button_to "Destroy this note", check_note_path(@note.check, @note), method: :delete %>
</div>
