<%= form_with(model: person) do |form| %>

    <div>
        <%= form.label :name %>
        <%= form.text_field :name, value: current_admin.full_name, readonly: true %>
    </div>
    
    <div>
        <%= form.label :email %>
        <%= form.text_field :email, value: current_admin.email, readonly: true %>
    </div>

    <div>
        <%= form.label :address %>
        <%= form.text_field :address %>
    </div>

    <div>
        <%= form.label :uin %>
        <%= form.text_field :uin %>
    </div>

    <div>
        <%= form.label :phone_number %>
        <%= form.text_field :phone_number %>
    </div>

    <div>
    <%= form.label :affiliation %>
    <%= form.select :affiliation, [['TAMU Student', 'TAMU Student'], ['TAMU Employee', 'TAMU Employee'], ['Not Affiliated', 'Not Affiliated']] %>
  </div>

    <div>
        <%= form.submit %>
    </div>

<% end %>

