<div id="<%= dom_id person %>" style="box-shadow: 3px 8px 16px 0px rgba(0,0,0,0.3); width: 600px; height: 150px;">
  <table border="1" cellpadding="5" style="width: 100%; height: 100%;">
    <tr>
      <td colspan="2" style="text-align: center"><strong>Name:</strong> <%= person.name %></td>
      <td colspan="1" style="text-align: center"><strong>Email:</strong> <%= person.email %></td>
    </tr>
    <tr>
      <td colspan="3" style="padding-left: 20px"><strong>Address:</strong> <%= person.address %></td>
    </tr>
    <tr>
      <td style="text-align: center"><strong>UIN:</strong> <%= person.uin %></td>
      <td style="text-align: center"><strong>Phone #:</strong> <%= person.phone_number %></td>
      <td style="text-align: center"><strong>Affiliation:</strong> <%= person.affiliation %></td>
    </tr>
  </table>
</div>


<%# this is the format of the profile in the index page %>