<div id="<%= dom_id person %>">
  <p>
    <strong>Name:</strong>
    <%= person.name %><br>
    <strong>Email:</strong>
    <%= person.email %><br>
    <strong>Address:</strong>
    <%= person.address %><br>
    <strong>UIN:</strong>
    <%= person.uin %><br>
    <strong>Phone Number:</strong>
    <%= person.phone_number %><br>
    <strong>Affiliation:</strong>
    <%= person.affiliation %><br>
  </p>
</div>
