<p style="color: green"><%= notice %></p>

<h1>People#index</h1>
<p>Find me in app/views/people/index.html.erb</p>

<% if @show_new_profile_button %>
  <%= link_to "Create Your Profile", new_person_path %><br>
<% end %>

<div id="current_admin_person">
  <% if @current_admin_person %>
    <h2>Your Profile</h2>
    <%= render partial: 'person', locals: { person: @current_admin_person } %>
        <%= link_to "Show this Profile", @current_admin_person %>
    <% end %>
</div>

<div id="other_people">
  <% if @other_people.any? %>
    <h2>Other Profiles(s)</h2>
    <% @other_people.each do |person| %>
      <%= render partial: 'person', locals: { person: person } %>
      <% if @current_admin.admin? %>
        <p>
             <%= button_to "Delete this profile", person_path(person), method: :delete, data: { confirm: "Are you sure you want to delete this profile?" } %>
        </p>
      <% end %>
    <% end %>
  <% else %>
    <p>No profile found.</p>
  <% end %>
</div>

<%= link_to "Back to homepage", checks_path %><br>
