<%= stylesheet_link_tag "application" %>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">

<header>
  <div class="profile">
    <i class="fas fa-user-circle"></i>
    <strong ><%= current_admin.full_name %></strong>
    <div class="dropdown-content">
        <span><strong>Email: </strong><i><%= current_admin.email %></i> </span><br>
        <span>
            <% if current_admin.is_admin? %>
            <strong>Role: </strong><i>admin</i>
            <% elsif current_admin.is_officer? %>
            <strong>Role: </strong><i>officer</i>
            <% else %>
            <strong>Role: </strong><i>member</i>
            <% end %>
        </span>
    </div>
  </div>

   <a href="#" class="navbar">
    <div class="one"></div>
    <div class="two"></div>
    <div class="three"></div>
  </a>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const navbar = document.querySelector('.navbar');
      const navOverlay = document.querySelector('.nav-overlay');
      const navContent = document.querySelector('.nav-content');

      navbar.addEventListener('click', function() {
        navOverlay.classList.toggle('show');
        navContent.classList.toggle('show');
      });

      navOverlay.addEventListener('click', function() {
        navOverlay.classList.remove('show');
        navContent.classList.remove('show');
      });
    });
  </script>
</header>

<body>
  <div class="nav-overlay"> <!-- This element will overlay the entire page -->
    <nav class="nav-content">
      <div class="btn-container">
        <div>
          <%= link_to root_path, class: "root" do %>
            <strong>Kappa Upsilon Chi</strong>
          <% end %>
        </div>
        <br>
        <div>
          <%= link_to root_path, class: "btn" do %>
            <strong>Home</strong>
          <% end %>
        </div>

        <div>
            <% if current_admin.is_admin? %>
                <%= link_to admins_admin_index_path, class: "btn" do %>
                <strong>Admin</strong>
                <% end %>
            <% end %>
        </div>

        <div>
          <% if current_admin.is_admin?  || current_admin.is_officer? %>
            <%= link_to sub_accounts_path, class: "btn" do %>
              <strong>Sub-account</strong>
            <% end %>
          <% end %>
        </div>
      
        <div>
          <%= link_to checks_path, class: "btn" do %>
            <strong>Checks</strong>
          <% end %>
        </div>

        <div>
          <%= link_to people_path, class: "btn" do %>
            <strong>Profile</strong>
          <% end %>
        </div>
        
        <div>
          <%= link_to notes_path, class: "btn" do %>
            <strong>Note</strong>
          <% end %>
        </div>

        <div>
          <%= link_to destroy_admin_session_path, method: :delete, class: "btn" do %>
              <strong>Sign Out</strong>
          <% end %>
        </div>
      
    </nav>
  </div>

  <p style="color: green"><%= notice %></p>
    

  <div class="my-profile">
    <div>
      <h2>My Profile</h2>
    </div>

    <div>
      <% if @show_new_profile_button %>
        <%= link_to "Create", new_person_path , class: "create-person" %><br>
      <% end %>
    </div>

    <div id="current_admin_person">
      <% if @current_admin_person %>
        <%= link_to edit_person_path(@current_admin_person), class: "modify-person" do %>
          <strong>Modify My Profile</strong>
        <% end %>

        <%= render partial: 'person', locals: { person: @current_admin_person } %>
        <p>
          <%= link_to "Delete my profile", person_path(@current_admin_person), method: :delete, data: { confirm: "Are you sure you want to delete this profile?" }, class: "create-person" %>
        </p>

      <% end %>
    </div>
  </div>

  <div id="other_people">
    <br>
    <br>
    <% if @current_admin.admin? || @current_admin.officer? %>
      <div class= "my-profile">
        <h2>Other Profiles(s)</h2>
      </div>
      <% if @other_people.any? %>
        <div class="other-profile">
          <% @other_people.each do |person| %>
            <div class="person-profile">
              <%= render partial: 'person', locals: { person: person } %>
              <p>
                <%= link_to "Delete this profile", person_path(person), method: :delete, data: { confirm: "Are you sure you want to delete this profile?" }, class: "create-person" %>
              </p>
            </div>
          <% end %>
        </div>
      <% else %>
        <p>No profile found.</p>
      <% end %>
    <% end %>
  </div>


</body>

