<h1>Welcome to the Admin Page</h1>
<p style="color: red"><%= alert %></p>
<p style="color: green"><%= notice %></p>
<%= form_tag update_path, method: :post do %>
  <h2>Your Account:</h2>
  <table border="6" style="width: 100%;">
    <thead>
      <tr>
        <th>Email</th>
        <th>Full Name</th>
        <th>Role</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= current_admin.email %></td>
        <td><%= current_admin.full_name %></td>
        <td><%= current_admin.admin? ? 'Admin' : (current_admin.officer? ? 'Officer' : 'Member') %></td>
      </tr>
    </tbody>
  </table>

  <div>
    <%= link_to "Back to homepage", checks_path %><br>
  </div>

  <h2>All Other Accounts :</h2>
  
  <table border="6" style="width: 100%;">
    <thead>
      <tr>
        <th>Email</th>
        <th>Full Name</th>
        <th>Created At</th>
        <th>Updated At</th>
        <th>Role</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'table', locals: { admins: @all_admins } %>
    </tbody>
  </table>
<% end %>

<%= link_to "Add New User", new_admins_admin_path, class: "btn btn-primary" %>
