<%= stylesheet_link_tag "application" %>

<body>
  <p style="color: red"><%= alert %></p>
  <div class="admins-sessions-new">
    <div class="login-contain">
      <%= image_tag("logos/KYXCrest.png", class: "icon-image", alt: "KYX Crest") %>

      <%= link_to admin_google_oauth2_omniauth_authorize_path, class: "btn-contain btn-wide", method: :post, data: { turbo: "false" } do %>
        <strong> Sign In</strong>
        <br>
        <span style="font-size: 13px;">with your TAMU email</span>
      <% end %>
    </div>
      
    <div class="picture-section">
      <%= image_tag("homepage/image1.png", id: "carousel", alt: "Image 1") %>
    </div>
  </div>
</body>

<%= javascript_include_tag "image" %>
