<%= stylesheet_link_tag "application" %>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">

<p style="color: green"><%= notice %></p>

<h1 style="text-align: center;">Show SubAccount</h1>

<div style="text-align:center; padding-top: 100px;">

    <%= render @sub_account %>

    <div style="padding: 3px;">
        <%= link_to "Edit this SubAccount", edit_sub_account_path(@sub_account) , class: "create-person", style: "margin-right: 10px;"%> 
        <%= link_to "Back to SubAccount ", sub_accounts_path , class: "create-person", style: "margin-left: 10px;"%>
    </div>

    <div style="padding: 3px;">
        <%= button_to "Delete", @sub_account, method: :delete , class: "create-person" %>
    </div>
</div>