<p style="color: green"><%= notice %></p>

<%= render @sub_account %>

<div>
    <%= link_to "Edit this sub-account", edit_sub_account_path(@sub_account) %> |
    <%= link_to "Back to sub-accounts", sub_accounts_path %>

    <%= button_to "Destroy this sub-account", @sub_account, method: :delete %>
</div>