<div id="<%= dom_id check%>">
    <p>
        <strong>Description:</strong>
        <%= check.description %>

        <br>

        <strong>Organization Name:</strong>
        <%= check.organization_name %>

        <br>

        <strong>Account Number:</strong>
        <%= check.account_number %>

        <br>

        <% if check.sub_account.present? %>
            <strong>Sub-Account Number:</strong>
            <%= check.sub_account.sub_account_number %>
        <% end %>



        <strong>Date:</strong>
        <%= check.date %>

        <br>


        <strong>Payable To:</strong>
        <%= check.payable_name %>
        <%= check.payable_address %>
        <%= check.payable_phone_number %>
        <%= check.role %>

        <br>

        <strong>Travel:</strong>
        <%= check.travel %>

        <br>

        <strong>Food:</strong>
        <%= check.food %>

        <br>

        <strong>Office Suplies:</strong>
        <%= check.office_supplies %>

        <br>

        <strong>Utilities:</strong>
        <%= check.utilities %>

        <br>

        <strong>Membership:</strong>
        <%= check.membership %>

        <br>

        <strong>Services and Other Income:</strong>
        <%= check.services_and_other_income %>

        <br>

        <strong>Clothing:</strong>
        <%= check.clothing %>

        <br>

        <strong>Rent:</strong>
        <%= check.rent %>

        <br>

        <strong>Other Expenses:</strong>
        <%= check.other_expenses %>

        <br>

        <strong>Items for Resale:</strong>
        <%= check.items_for_resale %>

        <br>


        <strong>Total:</strong>
        <%= check.dollar_amount %>

        <strong>Approval Status: </strong>
        <%= check.approval_status %>

        <br>

        <strong>Officer Comments: </strong>
        <%=check.comments %>


    </p>
</div>