<div id="<%= dom_id check%>">
    <p>
        <strong>Description:</strong>
        <%= check.description %>

        <br>

        <strong>Organization Name:</strong>
        <%= check.organization_name %>

        <br>

        <strong>Account Number:</strong>
        <%= check.account_number %>

        <br>

        <strong>Sub-Account Number:</strong>
        <%= check.sub_account.sub_account_number %>



        <strong>Date:</strong>
        <%= check.date %>

        <br>


        <strong>Payable To:</strong>
        <%= check.payable_name %>
        <%= check.payable_address %>
        <%= check.payable_phone_number %>
        <%= check.role %>

        <br>

        <strong>Approval Status: </strong>
        <%= check.approval_status %>

        <br>

        <strong>Officer Comments: </strong>
        <%=check.comments %>

        <strong>Amount:</strong>
        <%= number_with_precision(check.total_dollar_amount, precision: 2) %>
    </p>
</div>