<%= form_with(model: check) do |form| %>
    <% if check.errors.any? %>
        <div style="color: red">
            <h2><%= pluralize(check.errors.count, "error") %> prohibited this form from being saved: </h2>

            <ul>
                <% check.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                <%end%>
            </ul>
        </div>
    <%end%>

    <div>
        <%= form.label :description %>
        <%= form.text_field :description %>
    </div>

    <div>
        <%= form.label :organization_name %>
        <%= form.text_field :organization_name %>
    </div>

    <div>
        <%= form.label :account_number %>
        <%= form.number_field :account_number %>
    </div>

    <div>
        <%= form.label :date %>
        <%= form.date_select :date, { prompt: true } %>
    </div>

    <div>
        <%= form.label :role %>
        <%= form.radio_button :role, 'student' %>
        <%= form.label :role, "Student" %>
        <%=form.radio_button :role, 'employee' %>
        <%= form.label :role, "Employee" %>
        <%= form.radio_button :role, 'not_affiliated' %>
        <%= form.label :role, "Not Affiliated" %>
    </div>

    <div>
        <%= form.label :payment_method %>
        <%= form.radio_button :payment_method, 'direct_deposit' %>
        <%= form.label :payment_method, "Direct Deposit" %>
        <%= form.radio_button :payment_method, 'mail_to_payee' %>
        <%= form.label :payment_method, "Mail to Payee Address" %>
        <%= form.radio_button :payment_method, 'pick_up_at_sofc' %>
        <%= form.label :payment_method, "Pick up at SOFC" %>
    </div>

    <div>
        <%= form.label :payable_name %>
        <%= form.text_field :payable_name %>
    </div>

    <div>
        <%= form.label :payable_address %>
        <%= form.text_field :payable_address %>
    </div>

    <div>
        <%= form.label :payable_phone_number %>
        <%= form.text_field :payable_phone_number %>
    </div>

    <div>
        <%=form.label :travel %>
        <%= form.number_field :travel, step: '0.01' %>
    </div>

    <div>
        <%=form.label :food %>
        <%= form.number_field :food, step: '0.01' %>
    </div>

    <div>
        <%=form.label :office_supplies %>
        <%= form.number_field :office_supplies, step: '0.01' %>
    </div>

    <div>
        <%=form.label :utilities %>
        <%= form.number_field :utilities, step: '0.01' %>
    </div>

    <div>
        <%=form.label :membership %>
        <%= form.number_field :membership, step: '0.01' %>
    </div>

    <div>
        <%=form.label :services_and_other_income %>
        <%= form.number_field :services_and_other_income, step: '0.01' %>
    </div>

    <div>
        <%=form.label :clothing %>
        <%= form.number_field :clothing, step: '0.01' %>
    </div>

    <div>
        <%=form.label :rent %>
        <%= form.number_field :rent, step: '0.01' %>
    </div>

    <div>
        <%=form.label :other_expenses %>
        <%= form.number_field :other_expenses, step: '0.01' %>
    </div>

    <div>
        <%=form.label :items_for_resale %>
        <%= form.number_field :items_for_resale, step: '0.01' %>
    </div>
  
    

    <div>
        <%= form.submit %>
    </div>

<% end %>