<h1>You're logged in! Welcome to the Admin Dashboard!</h1>
<%= link_to "Sign Out", destroy_admin_session_path %>
=======
<p style="color: green"><%= notice %></p>


<h1>Checks#index</h1>
<p>Find me in app/views/checks/index.html.erb</p>

<div id="checks">
    <% @checks.each do |check| %>
        <%= render check%>
        <p>
            <%= link_to "Show this form", check %>
        </p>
    <% end %>
</div>

<%= link_to "New form", new_check_path %>
