<%= stylesheet_link_tag "application" %>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css"><h1> Review Form </h1>

<%= render @check %>

<h2> Change approval status and add comments: </h2>

<%= form_with(model: @check, method: :patch) do |form| %>
    <div class="field">
      <div style="text-align: center; margin-top: 20px;">
        <%= form.label :approval_status %>
      </div>
      <% Check.approval_statuses.each do |status, label| %>
        <%= form.radio_button :approval_status, status %>
        <%= form.label "approval_status_#{status}", label %>
      <% end %>
    </div>
  
    <div style="text-align: center; margin-top: 20px;">
        <%= form.label :sub_account_id %>
        <%= form.select :sub_account_id, options_from_collection_for_select(@sub_accounts, :id, :sub_account_number, :owner_name), {} %>
    </div>

  
    <div class="field">
      <div>
        <%= form.label :comments %>
      </div>
      <%= form.text_area :comments, rows: 4 %>
    </div>
  
    <div class="actions">
      <%= form.submit "Update Approval Status and Comments" %>
    </div>

    <div style="text-align: center; margin-top: 20px;">
      <%= link_to "Back to forms", checks_path, class: "create-person"%>
    </div>
  <% end %>