<%= stylesheet_link_tag "application" %>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css"><h1> Show Form </h1>

<p style="color: green"><%= notice %></p>

<%= render @check %>

<div>
  <%= link_to "Edit this form", edit_check_path(@check) %> |
  <% if @check.pending? %>
    <%= link_to "Back to forms", checks_path %> |
  <% else %>
    <%= link_to "Back to past forms", past_checks_path %> |
  <% end %>
  <%= link_to "Review this form", review_check_path(@check) %>

  <%= button_to "Destroy this form", @check, method: :delete %>
</div>